<link href="bootstrap.min.css" rel="stylesheet" type="text/css">
<% messages.each do |message| %>
  <ul class="media-list">
    <li class="media">
    <% if message[:user] %>
      <a class="pull-left" href="#"><img class="media-object img-rounded" src="./images/<%= message[:user][:id] %>.png" height="64" width="64"></a>
    <% end %>
      <div class="media-body">
        <span class="h4 media-heading"><%= message[:user] ? message[:user][:name] : "" %></span>
        <span><%= Time.at(message['ts'].to_i).strftime("%Y-%m-%d %H:%M:%S") %></span>
        <p><%= message['text'] ? message['text'] : "" %></p>
      </div>
    </li>
  </ul>
<% end %>
